/* ----------------------------------------------------
	HEADER PAGES PARALLAX BACKGROUND
------------------------------------------------------- */

#header_bg{	
	background: url('../img/background.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}

ul.navbar-nav {
	@media (min-widht: 768px) {		
		li:nth-child(4) {
			-ms-transform: rotate(-15deg); /* IE 9 */
			-webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
			transform: rotate(-15deg);
			a {
				font-size: 13px !important;
				&:hover {
					-webkit-animation: swing 1s;
					animation: swing 1s;
				}
			}
		}
	}
}