/* ----------------------------------------------------
	HEADER PAGES PARALLAX BACKGROUND
------------------------------------------------------- */

#about_bg{	
	background: url('../img/header_bg/image1.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}
#service_bg{	
	background: url('../img/header_bg/image2.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}
#projects_bg{	
	background: url('../img/header_bg/image3.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;	
}
#blog_bg{
	color: #fff;
	background: url('../img/header_bg/image4.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}
#blog2_bg{
	color: #fff;
	background: url('../img/header_bg/image5.jpg') 50% 0 no-repeat fixed;
	padding-top: 80px;
	padding-bottom: 80px;
	background-size: cover;					
}