/* ----------------------------------------------------
	HEADER PAGES PARALLAX BACKGROUND
------------------------------------------------------- */

#header_bg{	
	background: url('../img/background.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}