/* ----------------------------------------------------
	17)	SHORTCODES
------------------------------------------------------- */
.s-title h1{
	font-family: 'Raleway', sans-serif;
	font-size: 46px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #333;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 100px 0;
}
.s-heading h1, .s-heading h2, .s-heading h3, .s-heading h4, .s-heading h5, .s-heading h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.s-heading-b h1, .s-heading-b h2, .s-heading-b h3, .s-heading-b h4, .s-heading-b h5, .s-heading-b h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
iframe{
  max-width: 100% !important;
}