.cbp-popup-singlePageInline {
    img {
        width: 100%;
        height: auto;
        //margin-bottom: 30px;
    }

    .cbp-l-inline-subtitle {
        padding-bottom: 32px;
    }
    /*min-height: 800px;
    #mygallery {
        height: 650px;
    }*/
    .proyecto-galeria {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        img {
            flex-grow: 1;
            max-height: 300px;
            width: auto;
            object-fit: cover;
            padding-right: 8px;
        }
        margin-right: -8px;
        padding-bottom: 8px;
        &:last-child {
            img {
                flex-grow: 0;
            }
        }
    }
}