.cbp-popup-singlePageInline {
    img {
        width: 100%;
        height: auto;
        //margin-bottom: 30px;
    }

    .cbp-l-inline-subtitle {
        padding-bottom: 32px;
    }
    .cbp-popup-close {
        height: 50px;
        width: 50px
    }
}

.proyecto-galeria {
    &.slick-dotted.slick-slider {
        @media(max-width: 767px) {
            margin-left: -30px;
            margin-right: -30px				
        }
    }
    .slick-slide {
        &:not(.slick-current) {
            opacity: .3;
        }
    }
    .slick-dots li {
        @media(max-width: 767px) {
            width: 10px;			
        }
    }
    img {
        //flex-grow: 1;
        height: 400px;
        width: auto;
    }
    &.rehabilitacion {
        display: flex;
        flex-wrap: nowrap;
        img {
            flex-grow: 1;
            max-height: 500px !important;
            object-fit: cover;
        }
    }
    
    .slick-arrow {
        z-index: 1;
        width: 79px;
        height: 70px;
        &:before {
            font-size: 50px;
            @media(min-width: 768px) {
                font-size: 80px;	
			}
        }
        &.slick-next {
            right: 10px;
            @media(min-width: 768px) {
                right: 75px;
			}
        }
        &.slick-prev {
            left: 10px;
            @media(min-width: 768px) {
                left: 75px;	
			}
        }
    }
}