/* ----------------------------------------------------
	6) PROJECTS STYLES
------------------------------------------------------- */


body.proyectos {
	#filters-container {
		.cbp-filter-counter {
			display: none;
		}
	}
	#grid-container {
		.cbp-l-caption-body {
			padding: 0 15px;
			.cbp-l-caption-title {
				font-size: 14px;
				padding-bottom: 6px;
			}
		}
		.cbp-item .cbp-caption img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.entidades-container, .rehabilitacion-container {
		display: none;
	}
	.proyecto-galeria {
        .slick-slide {
            &:not(.slick-current) {
                opacity: .3;
            }
        }
        img {
            //flex-grow: 1;
            height: 400px;
            width: auto;
        }
    }
}

@import 'proyecto-individual';


/* Index Projects Styles */
.projects .col-md-4{
	padding-right: 0;
	padding-left: 0;
}
.project-inner{
	position: relative;
	padding: 0;
	overflow: hidden;	
}
.project-inner>img, .project-inner>a img, .project-caption>img{
	display: block;
	max-width: 100%;
	height: auto;	
}
.project-inner .project-caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40,40,40,0.7);		
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	visibility: hidden;
	opacity: 0;	
}
.project-inner:hover .project-caption, .project-inner:focus .project-caption{
	visibility: visible;
	opacity: 1;
}
.project-caption h3{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
.project-caption{
	color: #fff;
	text-align: center;
}
.project-details{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -20px;
}
.project-details p{
	color: #d0ad55;
}
.all-projects{
	background-color: transparent;
	padding: 50px 0;
}
.projects-title{
	padding-top: 15px;
	padding-bottom: 5px;
}
.projects-title h2{
	text-transform: uppercase;
	color: #333;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	font-weight: 600;
}
.project-title-devider{	
	border-top: 1px solid #999;
	width: 65px;
	margin: 0 auto;
}

/*cube portfolio*/
.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
	color: #FFF;
	background-color: #d0ad55;
	border-color: #d0ad55;
}

.cbp-l-filters-alignRight .cbp-filter-counter {
	background: #d0ad55;
}
.cbp-l-filters-alignRight .cbp-filter-counter:before {
	border-top: 4px solid #d0ad55;
}
.cbp-l-filters-alignRight {
	text-align: center;
}
.cbp-l-filters-alignRight .cbp-filter-item {
	background-color: #f2f2f2;
	border: none;
	font: 400 12px/35px "Open Sans",sans-serif;
	margin: 0;
	margin-right: 10px;
}
.cbp-l-filters-list{
	margin: 0 auto;
	padding-bottom: 40px;
}
.cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {
	color: #FFF;
	background-color: #d0ad55;
	border-color: #d0ad55;
}
.cbp-l-filters-list .cbp-filter-item {
	background-color: transparent;
	color: #888888;
	cursor: pointer;
	font: 400 12px/35px "Open Sans",sans-serif;
	text-transform: uppercase;
	padding: 0 18px;
	position: relative;
	overflow: visible;
	margin-top: 0;
	float: left;
	border: 1px solid #f2f2f2;
	border-right-width: 0;
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
}
.cbp-l-filters-list-last {
	border-radius: 0;
}
.cbp-l-filters-list-first {
	border-radius: 0;
}
.cbp-l-grid-blog-comments {
	color: #aaaaaa;
}
.cbp-l-grid-blog-title {
	font: 300 18px/28px "Raleway",sans-serif;
}
.cbp-l-grid-blog-title:hover {
	color: #d0ad55;
}
.cbp-popup-singlePage .cbp-popup-navigation-wrap {	
	background-color: #2a2a2a;
}
.cbp-popup-singlePage .cbp-l-project-title {
	color: #454444;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	-webkit-font-smoothing: antialiased;
}
.cbp-popup-singlePage-counter {
	color: #d0ad55;
}
.cbp-l-grid-blog-desc {
	font: 300 14px "Open Sans",sans-serif;
	line-height: 22px;
	color: #4c4c4c;
	margin-top: 9px;
}
.cbp-popup-singlePage .cbp-l-project-subtitle {
	margin: 0 auto 40px;
}