body.reinventar {
    .header-nav {
        //background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
/*     li {
        &.active a {
            color: rgb(246, 246, 246) !important;
        } 
        a:hover {
            color: rgb(238, 238, 238) !important;            
        }
    } */
}